.rss-form .form-item {
  text-align: left;
  padding: 5px 0 0 10px;
  padding-left: 10px;
}

.rss-form .rss-url {  
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.rss-form .form-submit {
  margin-bottom: 20px;
}